body {
  margin: 0px;
  font-family: monospace;
}

#canvas-container {
  height: 100vh;
}

.interface {
  display: flex;
  justify-content: center;
}

.controls {
  width: 200px;
  position: absolute;
  bottom: 7%;
}

.key {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  background-color: #ececec1a;
  margin: 5px;
}

.row {
  display: flex;
  justify-content: center;
}

.space {
  width: 148px;
}

.restart {
  position: absolute;
  top: 25%;
  width: 100%;
  background-color: #0000004d;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 45px;
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.active {
  background-color: #ffffff6b;
}

.time {
  position: absolute;
  top: 7%;
  width: 100%;
  background-color: #0000004d;
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 10px 0;
  font-weight: 600;
  user-select: none;
}